<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>738584601704-g2qkg8oup2mnds33gn816r0p1tubputg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738584601704-g2qkg8oup2mnds33gn816r0p1tubputg</string>
	<key>API_KEY</key>
	<string>AIzaSyAlg4S5bWPSPx6ABTJfmJR-j7oAfs_ORXI</string>
	<key>GCM_SENDER_ID</key>
	<string>738584601704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kanishka.Medoc</string>
	<key>PROJECT_ID</key>
	<string>medoc-e0721</string>
	<key>STORAGE_BUCKET</key>
	<string>medoc-e0721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738584601704:ios:b35e934f0b3f45a2</string>
	<key>DATABASE_URL</key>
	<string>https://medoc-e0721.firebaseio.com</string>
</dict>
</plist>